<div class="home">

	<div class= "container">
		<p>&nbsp;</p>
	<div class="jumbotron">
  		<h1>Zelda Base</h1>
  		<p>Zelda Base is an online database for Legend of Zelda video games created by Rohan Sinha for Legend of Zelda fanatics like him. This site is completely free and encourages you to sign up to add to the database and vote for your favorite Legend of Zelda game. This site also has links to safe downloads for emulators and roms for Legend of Zelda games. Are you ready for your next adventure?</p>
  	</div>
</div>
</div>